<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2025 Inventory Tracking System. All Rights Reserved.</p>
                <p>Developed by Edwell Kakunguwo | Email: 
                    <a href="mailto:edwellkakunguwo358@gmail.com">edwellkakunguwo358@gmail.com</a> 
                    | Contact: +263 718 666 296</p>
            </div>
        </div>
    </div>
</footer>

