@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Inventory Tracking System</h1>
<p>Your ultimate app for tracking products and keeping everything organized in one place. 
    Begin by exploring or adding new items to your inventory, ensuring you
     stay updated on stock levels and pricing.</p>